* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Yakuza";
  src: local("edosz"), url("/src/fonts//edosz.ttf") format("truetype");
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100vh;
  width: 100%;
}

.background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale();
}

body {
  height: 100vh;
  overflow-y: hidden;
  color: black;
}

header {
  position: relative;
  padding: 1em;
  color: white;
}

.header_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.header_background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  filter: invert(100);
}

main {
  display: flex;
  flex-direction: column;
}

section {
  padding: 5%;
}

.content {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  font-size: 1.5rem;
  max-height: 100vh;
  overflow-y: scroll;
}

.intro {
  font-family: "Yakuza";
  -webkit-text-stroke: 0.5px black;
}

.intro h1 {
  color: crimson;
  -webkit-text-stroke: 0.75px black;
  font-size: 3rem;
}

/* API example */
.character_profile {
  height: 300px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: wheat;
  font-size: 1.25rem;
}

.profile_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.profile_background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  filter: invert(100%);
}

.profile_header {
  width: 30%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile_header img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.seperator {
  padding: 1px;
  background-color: crimson;
  border-radius: 5px;
  height: 90%;
}

.profile_info {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 60%;
}

.profile_info h2 {
  font-family: "Yakuza";
}

/* hson display */

.code_block {
  display: flex;
  background-color: black;
  color: white;
  margin-bottom: 5%;
  padding: 1em;
  border-radius: 5px;
}

.left_json,
.right_json {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  white-space: nowrap;
}

.left_json {
  width: 30%;
  color: cyan;
}

.right_json {
  width: 70%;
  color: #ff007f;
  overflow-x: scroll;
}

.drop_shadow {
  filter: drop-shadow(0 15px 1rem rgba(49, 49, 49, 0.868));
}
