.code_snippet {
  display: flex;
  justify-content: center;
  width: 100%;
}

.code_block {
  width: 50%;
  border-radius: 5px;
  background-color: #44475a;
  color: white;
  overflow-y: scroll;
  padding: 1em;
}
