.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.demo_title {
  width: 100%;
}

.demo_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.code_snippet {
  display: flex;
  justify-content: center;
  width: 100%;
}

.code_block {
  display: flex;
  width: 80%;
  font-family: monospace;
  border-radius: 5px;
  background-color: #44475a;
  color: white;
  overflow-y: scroll;
  padding: 2em;
}

.left_json,
.right_json {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: hidden;
  padding: 8px;
}

.left_json {
  width: 40%;
}

.right_json {
  width: 60%;
}
