.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.demo h2 {
  width: 100%;
  margin-bottom: 1em;
}

.code_snippet {
  display: flex;
  justify-content: center;
  width: 100%;
}

.code_block {
  width: 100%;
  border-radius: 5px;
  background-color: #44475a;
  color: white;
  overflow-y: scroll;
  padding: 1em;
}