.form {
    display: flex;
    width: 100%;
}

form {
    display: flex;
    width: 100%;
}

input {
    background-color: #c3c19b;
    border: none;
    margin-left: 0.5%;
}

input[type="submit"] {
    margin: 0;
    background-color: #2a1114;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    color: white;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #a02d3a;
}