.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form {
  display: flex;
}

input {
  border: none;
  margin-left: 0.5%;
  background-color: gray;
}

input[type="submit"] {
  margin: 0;
  background-color: #2a1114;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  color: white;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: #a02d3a;
}