header {
  z-index: 999;
  top: 0;
  position: sticky;
  background-size: cover;
  background-position: 100% 69%;
  ul {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    list-style: none;
    font-size: 1.5rem;
  }
  a {
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 0px;
  }

  a:hover {
    color: red;
    -webkit-text-stroke: black 0.5px;
  }
}
