header {
  background-size: cover;
  background-position: 100% 69%;
  ul {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    list-style: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
}
