.home_wrapper,
.error_wrapper,
.doc_wrapper,
.about_wrapper,
.roadmap_wrapper {
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 24px;
}

.demo_background,
.error_background,
.doc_background,
.about_background,
.roadmap_background {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -2;
}

.home_background img,
.demo_background img,
.error_background img,
.doc_background img,
.about_background img,
.roadmap_background img {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.intro {
  line-height: 200%;
  .CTA {
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;

    .demo_card {
      border-radius: 8px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      width: 550px;

      .hover_content {
        opacity: 1;
        transition: ease in 1s;
        border-radius: 8px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(4px);
        background-color: #00000077;
        z-index: 1;
      }

      .transition {
        transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
      }

      .hover_content:hover {
        opacity: 0;
      }

      img {
        border-radius: 8px;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
    }
  }
}

/* demo */

.demo {
  margin: auto;
  max-width: 55rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3em;
}

.demo_info {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.character_profile {
  display: grid;
  grid-template-columns: 30% auto 2fr;
  grid-template-rows: 300px;
  gap: 1em;
  padding: 2em;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile_image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile_image img {
  height: 100%;
  width: auto;
}

.seperator {
  padding: 2px;
  border-radius: 8px;
  background-color: crimson;
}

.profile_info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  backdrop-filter: blur(2px);
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media screen and (max-width: 1113px) {
  .character_profile {
    font-size: 1.25rem;
  }

  .code_block {
    padding: 2em;
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .home_wrapper,
  .error_wrapper,
  .doc_wrapper,
  .about_wrapper,
  .roadmap_wrapper {
    padding-top: 10%;
  }

  .character_profile {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .profile_image {
    height: 40%;
  }
}

@media screen and (max-width: 724px) {
  .doc_wrapper {
    padding: 0;
    width: 60%;
    margin: auto;
  }

  .doc_container {
    padding: 0;
    margin: auto;
  }

  .get_code {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 640px) {
  .home_wrapper,
  .error_wrapper,
  .doc_wrapper,
  .about_wrapper,
  .roadmap_wrapper {
    padding-top: 15%;
  }

  .doc_wrapper {
    width: 70%;
  }

  form {
    flex-direction: column;
    align-items: center;
    gap: 0.25em;
  }

  form input {
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 3px;
    width: 50%;
  }

  .code_block {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .left_json,
  .right_json {
    width: 100%;
  }

  .get_code {
    font-size: 1rem;
  }
}

.box_shadow {
  box-shadow: crimson 0px 20px 30px -10px;
}
